<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="loginUrl" value="Logon.aspx" />
		<!--Server Path to uplaod files-->
		<add key="FolderPath" value="UploadFiles\" />
		<!-- Upload file upto 10 MB-->
		<add key="FileSize" value="10" />
	</appSettings>
	<connectionStrings>
  <add name="SqlDataSource1" connectionString="Data Source=localhost;Initial catalog=Registration;Max Pool Size=200;integrated security=true"
   providerName="System.Data.SqlClient" />
  <add name="SqlDataSource2" connectionString="Data Source=localhost;Initial catalog=Communication;Max Pool Size=200;integrated security=true"
   providerName="System.Data.SqlClient" />
  <add name="SqlDataSource3" connectionString="Data Source=localhost;Initial catalog=RegisteredUsers;Max Pool Size=200;;integrated security=true"
   providerName="System.Data.SqlClient" />
  <add name="MessagesConnection" connectionString="Data Source=localhost;Initial catalog=Communication;Max Pool Size=200;integrated security=true"
   providerName="System.Data.SqlClient" />
  <add name="AprovedDisapprovedConnectionString" connectionString="Data Source=localhost;Initial Catalog=Registration;integrated security=true"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<location path="registration.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="approvedissaprove.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="logon.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="default.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="changepassword.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="resetpassword.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ForgotPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ForgotUsername.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="DeleteUser.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="EditPosting.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="test1.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="test2.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="test3.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="userinformation.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="status.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="userupdate.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="privatechat.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="unknownprotocol.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="leaveamessage.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="getmessage.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="viewmessages.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="mixandmingle.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="soonersearch.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="investors.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="sendmail.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="privacy.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="termsofuse.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	   <system.web>
			   
	   <compilation debug="true" targetFramework="4.0"></compilation>
      
	   <sessionState mode="InProc" timeout="20"></sessionState>

	   <authentication mode="Forms">
		   <forms name=".LogonForm" loginUrl="logon.aspx" protection="All" path="/" timeout="20" />
	   </authentication>

	   <authorization>
		   <deny users="?" />
		   <allow users="*" />
	   </authorization>
	   
   </system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<alwaysAllowedQueryStrings>
					<add queryString="maxQueryString" />
					<add queryString="maxAllowedContentLength" />
					<add queryString="maxUrl" />
				</alwaysAllowedQueryStrings>
				<requestLimits maxUrl="10999" maxQueryString="2097151" />
			</requestFiltering>
		</security>
	</system.webServer>

	<system.web>
		<httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
		</system.web>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network host="" />
            </smtp>
        </mailSettings>
    </system.net>


	<system.web>
		<customErrors mode="Off"/>
    </system.web>
	
</configuration>

